# Node deps и сборка
node_modules
dist

# Git/IDE
.git
.gitignore
.vscode
.idea

# Docker/compose
Dockerfile
.dockerignore
docker-compose.yml

# Env и секреты
.env
.env.local
.env.*.local

# Логи
npm-debug.log*
yarn-debug.log*
*.log

# Локальные данные
pgdata
